{% extends 'layouts/base.html' %}
{% block title %}Calculate{% endblock %}

{% block content %}
<p>Calculator</p>
<form method="post">
  <label>
    X:
    <input type="number" value="{{ x }}" name="x" id="x" />
  </label>

  <label>
    Y:
    <input type="number" value="{{ y }}" name="y" id="y" />
  </label>

<label>
  <input type="radio" value="Add" name="action" id="add"/>Add
</label>
<label>
  <input type="radio" value="Subtract" name="action" id="subtract"/>Subtract
</label>
<label>
  <input type="radio" value="Multiply" name="action" id="multiply"/>Multiply
</label>
<label>
  <input type="radio" value="Divide" name="action" id="divide"/>Divide
</label>

  <input type="submit" value="Calculate!"/>
</form>
{% if result %}
<div class="result">The answer is: {{ result }}</div>
{% endif %}
{% endblock %}
