{% extends 'layouts/base.html' %}
{% block title %}Get it Done!{% endblock %}

{% block content %}
  {% if posted_successfully == True %}
    <div class="completed">Success! Your task was added!</div>
  {% endif %}
  <div class="todo-wrapper greybg">
      <!-- Make a form to submit a thing. -->
      <p>Create a Task:</p>
    <form method="post">
        <label>
          Task Name: <br/><input class="textbox" value="{{ name }}" type="text" placeholder="{{ random.choice(task_names) }}" name="name" required/>
        </label>
      <br />
        <label>
          Description: <br/><input class="textbox" type="text" value="{{ description }}" placeholder="An awesome description goes here." name="description" required/>
        </label>
      <br />
        <input class="button" type="submit" value="Let's Do It!"/>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p class=flashes>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
</div>

{% endblock %}
