{% extends 'layouts/base.html' %}
{% block title %}Flask Boilerplate Homepage{% endblock %}

{% block content %}
  <p>Here are things you can do with request methods:</p>
  <div class="todo-wrapper">
  {% for l in todos %}
    {% if todos[l][3] == True %}
    <section class="finished">
      <div>{{ todos[l][0] }}</div>
      <div>{{ todos[l][1] }}</div>
      <div>{{ todos[l][2] }}</div>
    </section>
    {% else %}
    <section>
      <div> {{ todos[l][0] }}</div>
      <div> {{ todos[l][1] }}</div>
      <div> {{ todos[l][2] }}</div>
    </section>
    {% endif %}
  {% endfor %}
</div>
<!-- <form method="get">
  <input type="submit" value="Get Method"/>
</form>
<form method="post">
  <input type="submit" value="Post Method"/>
</form> -->

{% endblock %}
