{% extends 'layouts/base.html' %}
{% block title %}Get it Done!{% endblock %}

{% block content %}
<div class="greybg fullwidth">
  <p>Your Tasks today:</p>
</div>
  <div class="todo-wrapper">
  {% for l in range(0, len) %}
    {% if todos[l][3] == True %}
    <section class="completed">
      <div><h2>{{ todos[l][0] }}</h2></div>
      <div>Description: <i>{{ todos[l][1] }}</i></div>
      <div>Created At: <i>{{ todos[l][2] }}</i></div>
    </section>
    {% else %}
    <section>
      <div><h2>{{ todos[l][0] }}</h2></div>
      <div>Description: <i>{{ todos[l][1] }}</i></div>
      <div>Created At: <i>{{ todos[l][2] }}</i></div>
    </section>
    {% endif %}
  {% endfor %}
</div>
<!-- <form method="get">
  <input type="submit" value="Get Method"/>
</form>
<form method="post">
  <input type="submit" value="Post Method"/>
</form> -->

{% endblock %}
