{% extends 'layouts/base.html' %}
{% block title %}Get it Done!{% endblock %}

{% block content %}
<div class="greybg fullwidth">
  <p>Your Tasks today:</p>
</div>
  <div class="todo-wrapper">
  {% for item in todos %}
    <!-- Look for Completed ones first. -->
    {% if item[3]== True %}
    <section class="completed">
      <div><h2>{{ item[0] }}</h2></div>
      <div class="indented"><i>{{ item[1] }}</i></div>
      <div>Created At: <i>{{ item[2] }}</i></div>
      <a class="fa fa-trash red" href="{{ url_for('delete', id=item[4]) }}"></a>
    </section>
    {% else %}
    <section>
      <div><h2>{{ item[0] }}</h2></div>
      <div class="indented"><i>{{ item[1] }}</i></div>
      <div>Created At: <i>{{ item[2] }}</i></div>
      <a class="fa fa-trash red" href="{{ url_for('delete', id=item[4]) }}"></a>
      <a class='fas fa-check' href="{{ url_for('update', id=item[4]) }}"></a>
    </section>
    {% endif %}
  {% endfor %}
</div>
<!-- <form method="get">
  <input type="submit" value="Get Method"/>
</form>
<form method="post">
  <input type="submit" value="Post Method"/>
</form> -->

{% endblock %}
