<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  {% block head %}
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="static/styles.css" type="text/css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
{% endblock %}
</head>
<body>
  <header>
    <h1 class="title">{{ self.title() }}</h1>

    <nav class="fullwidth">
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('create_task') }}">Add Task</a>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>

  {% include 'layouts/footer.html' %}
</body>
</html>
